<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0" 
        id="com.bincom.incidentapp" 
        version="1.0.0">
    
    <name>Incident Reporter</name>
    <description>Citizen Incident Reporting App</description>
    <author email="your@email.com" href="http://bincom.net">Your Name</author>
    
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="33" />
    
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-dialogs" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="geo:*" />
    
</widget>
